.container{
	& .gallery{
		&__panel{
			& .gallery__full{
				& .gallery__pane{
					& .images{
						border: 1px solid black;
						list-style: none;
						white-space: nowrap;
						
						overflow: scroll;
						& .image{
							border:1px solid black;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}